{% extends "layout.html" %}
{% block content %}

    <!-- New Entry Section -->
    <div class = 'test2'>
    <section class="main_menu">
      <div class="container">
          <div class="box">

          </div>
          <div class="box"> 
              <div class="container_buttons_links_main_menu">
                  <div class="btn">
                      <a href="{{ url_for('carbon_app.carbon_app_home') }}" class="btn btn-dark btn-lg">New Entry</a>
                  </div>   
              </div>        
          </div>
          <div class="box">

          </div>
      </div>
        <!-- EGEN OLE, TOTAL EMISSION -->
        <section class="two_emissions_graphs">
            <div class="container">
                <div class="box">
                    <p>
                    <h2>Carbon offsetting</h2> 
                    <br>
                    <h4>Annual CO2 offsetting rate varies from 21.77 kg CO2/tree to 31.5 kg CO2/tree. To compensate 1 tonne of CO2, 31 to 46 trees are needed. Source: <a href="https://www.encon.eu/en/calculation-co2-offsetting-trees">ENCON</a></h4>
                    <p>Total emissions: <b>{{ sum_total_emissions[0][0] }} kg CO2</b></p>
                    <p>That is equiavalent to planting between {{carbon_offset_lower_bound}} to {{carbon_offset_upper_bound}} trees! </p> <br>
                    <h4>Compensate for your carbon emissions: </h4> 
                    <p>Price per 1000kg: ${{CARBON_OFFSET_PRICE_PER_1000KG}}. Total price: ${{CARBON_OFFSET_PRICE_PER_1000KG}} x {{sum_total_emissions_ton}} tons = ${{user_carbon_offset_price}}</p>
                    <div class="btn">
                        <a href="https://terrapass.com/product/personal-carbon-offset-grouped" class="btn btn-dark btn-lg " target="_blank">BUY OFFSET</a>
                    </div>
                    <!-- <canvas id="total_emissions"></canvas> -->
                </div>
            </div>
        </section> 
 
    <!-- Two Emissions Graph Section -->
    <section class="two_emissions_graphs">
        <div class="container">
            <div class="box">
                <canvas id="emissions_by_transport"></canvas>
            </div>
            <div class="box">
                <canvas id="over_time_emissions"></canvas> 
            </div>
        </div>
    </section> 

    <!-- Two Emissions Graph Section -->
    <section class="two_emissions_graphs">
        <div class="container">
            <div class="box">
                <canvas id="kms_by_transport"></canvas>
            </div>
            <div class="box">
                <canvas id="over_time_kms"></canvas>
            </div>
        </div>
    </section> 


    <!-- Table Section -->
    <section class="table_main">
    <div class="container">
        <div class="box">

        </div>
        <div class="box">  
            <p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">

                            {{ message }}
                        </div> 
                    {% endfor %}
                {% endif %}
            {% endwith %}         
            <div class = 'table-respons'>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Date</th>
                        <th scope="col">Kilometres</th>
                        <th scope="col">Transport</th>
                        <th scope="col">Fuel</th>
                        <th scope="col">Co2</th>
                        <th scope="col">Ch4</th>
                        <th scope="col">Total</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <p>
                    <a href="{{ url_for('carbon_app.delete_all_emission') }}" 
                    class="btn btn-outline-danger btn-sm">Delete All</a>
                    {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ current_user.username }}</th>
                            <td>{{ entry.date.strftime("%m-%d-%Y") }}</td>
                            <td>{{ entry.kms }}</td>
                            <td>{{ entry.transport }}</td>
                            <td>{{ entry.fuel }}</td>
                            <td>{{ entry.co2 }}</td>
                            <td>{{ entry.ch4 }}</td>
                            <td>{{ entry.total }}</td>
                            <td><a href="{{ url_for('carbon_app.delete_emission', entry_id = entry.id) }}" 
                                class="btn btn-outline-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>       
        </div>
        </div>
        <div class="box">
            
        </div>
    </div>
    </section> 
    <div>

    {% block javascript %}
    <script>
        // Emissions
        let emission_transport_data = JSON.parse({{ emissions_by_transport | tojson }})    
        Chart.scaleService.updateScaleDefaults('linear', {
                ticks: {
                    min: 0
                }
        });
    
    
        let emissions_by_transport_chart = new Chart(emissions_by_transport, {
                type: 'pie',
                data: {
                labels: ['Bicycle', 'Bus', 'Car', 'Ferry', 'Motorbike', 'Plane', 'Walking', 'Train'],
                    datasets: [{
                        data: emission_transport_data,
                        backgroundColor: ['#046A38', '#2C5234', '#0097A9',
                            '#62B5E5', '#00A3E0', '##43B02A', '#0076A8', '#012169', '#2C5231'],
    
                        borderWidth: 1,
                        hoverBorderColor: "white",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'white',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Emissions by type of transport (5 last days)",
                                    fontColor: "black",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "black"
                            },
                            display: true,
                        },
    
                        elements: {
                            hitRadius: 3,
                        }
                }
            })

        over_time_emissions = JSON.parse({{over_time_emissions | tojson}})
        labels = JSON.parse({{ dates_label  | tojson}})

        new Chart(document.getElementById("over_time_emissions"), {
                type: "line",
                data:
                {
                    labels: labels,
                    datasets: [
                        {
                        label: "Individual Emissions (5 past days)",                           
                        data: over_time_emissions,
                        fill: false,
                        borderColor: '#5fd9cd',
                        lineTension: 0.1
                        }
                ]
                },                    
                options: {}
            });  
            
        // Kilometers
        let kms_transport_data = JSON.parse({{ kms_by_transport | tojson }})    
        Chart.scaleService.updateScaleDefaults('linear', {
                ticks: {
                    min: 0
                }
        });
        let kms_by_transport_chart = new Chart(kms_by_transport, {
                type: 'pie',
                data: {
                labels: ['Bicycle', 'Bus', 'Car', 'Ferry', 'Motorbike', 'Plane', 'Walking', 'Train'],
                    datasets: [{
                        label: "Income Vs Expenses",
                        data: kms_transport_data,
                        backgroundColor: ['#046A38', '#2C5234', '#0097A9',
                        '#62B5E5', '#00A3E0', '##43B02A', '#0076A8', '#012169', '#2C5231' ],    
                        borderWidth: 1,
                        hoverBorderColor: "",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: '',
                        pointHoverRadius: 5
                    }],
                },
                options: {
                        title: {
                            display: true,
                                text: "Kilometers by type of transport (5 last days)",
                                fontColor: "black",
                                fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "black"
                            },
                            display: true,
                        },
    
                        elements: {
                            hitRadius: 3,
                        }
                }
            })
            
        over_time_kms = JSON.parse({{over_time_kms | tojson}})
        labels = JSON.parse({{ dates_label  | tojson}})

        new Chart(document.getElementById("over_time_kms"), {
                type: "line",
                data:
                {
                    labels: labels,
                    datasets: [
                        {
                        label: "Individual Kilometers (5 past days)",                            
                        data: over_time_kms,
                        fill: false,
                        borderColor: '#046A38',
                        lineTension: 0.1
                        }
                ]
                },                    
                options: {}
            });
            
            //world temp
            let world_temp_data = JSON.parse({{ average_temperature | tojson }})
            let yearLabels = JSON.parse({{ yearLabels  | tojson}})

            let min_temp = Math.min(...world_temp_data) - 0.08; // set the minimum temperature to the smallest value in the data minus 1
            let max_temp = Math.max(...world_temp_data) + 0.125; // set the maximum temperature to the largest value in the data plus 1

            new Chart(document.getElementById('temperature_chart'), {
                type: 'line',
                data: {
                    labels: yearLabels,
                    datasets: [
                        {
                            label: 'Global Temperature (°C)',
                            data: world_temp_data,
                            borderColor: '#f2d95c',
                            fill: false
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Global Temperature Anomoly by Year',
                        fontSize: 20,
                        fontColor: 'black'
                    },
                    legend: {
                        display: false,
                        fontColor: 'black'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'black'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return value + ' °C';
                                },
                                min: min_temp, // manually set the minimum temperature
                                max: max_temp, // manually set the maximum temperature
                                fontColor: 'black'
                            }
                        }]
                    },
                    animation: {
                        duration: 5000, // set the animation duration to 3 seconds
                        onProgress: function(animation) {
                            let chart = animation.chart;
                            let ctx = chart.ctx;
                            let dataset = chart.data.datasets[0];
                            let xScale = chart.scales['x-axis-0'];
                            let yScale = chart.scales['y-axis-0'];
                            let yMin = yScale.getPixelForValue(yScale.min);
                            let yMax = yScale.getPixelForValue(yScale.max);
                            let path = new Path2D();

                            path.moveTo(xScale.getPixelForValue(0), yMax);

                            for (let i = 0; i < dataset.data.length; i++) {
                                let x = xScale.getPixelForValue(i);
                                let y = yScale.getPixelForValue(dataset.data[i]);
                                path.lineTo(x, y);
                            }

                            path.lineTo(xScale.getPixelForValue(dataset.data.length - 1), yMax);
                            path.lineTo(xScale.getPixelForValue(0), yMax);
                            path.closePath();

                            ctx.save();
                            ctx.clip(path);
                            ctx.fillStyle = 'rgba(255, 0, 0, 0.2)';
                            ctx.fillRect(0, 0, chart.width, chart.height);
                            ctx.restore();
                        }
                    }
                }
            });




        </script>

    {% endblock%}        
{% endblock content %}
