/* Colors 
Carbon App, section 1 (header, background): #2a4359
Carbon App, section 1 (header, boxes): #6da6a6
Carbon App, section 2 (header, background): #466fa6
Carbon App, section 2 (header, boxes): #8badd9
*/

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}
/* Section carbon_app_new_entry_main */
.test2 {
  background-color: #FAF9F9;
}

.grid {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #FAF9F9;;
}

.Skrift {
  background-color: #046A38;
  color: #FAF9F9;
  padding: 5px 11px;
  margin: 25px 0 20px 0;
  font-weight: 300;
}


.box {
  width: 100%;
  padding: 5px;
  background-color: #FAF9F9;
}
  
select.form-control {
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-repeat: no-repeat;
  border-radius: 0;
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
}

input.form-control {
  border-radius: 0;
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
}

input.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.table_main .container {
  background: #FAF9F9;

}

.table_main .container .box {
  flex: 1;
  background: #FAF9F9;
  border-radius: 2px;

  text-align:center;
}  

.table_main .container  .box:nth-of-type(2) {
  flex-grow:1;
  border: 1px solid #808080;
  border-top: 10px solid #046A38;
  background: #FAF9F9;
  border-radius: 0px;
  margin: 0px 0px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}  

/*End container table_main*/

/*Container two_emissions_graphs */
.two_emissions_graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background: #FAF9F9;
}

.two_emissions_graphs .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-radius: 10px;
  background: #FAF9F9;
}
.two_emissions_graphs .container .box {
  flex: 1;
  background: #FAF9F9;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.two_emissions_graphs .container  .box:nth-of-type(1) {
  flex-grow:1;
  border: 1px solid #757575;;
  border-top: 10px solid #046A38;
  background: #FAF9F9;;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  
}  
.two_emissions_graphs .container  .box:nth-of-type(2) {
  flex-grow:1;
  border: 1px solid #8d8d8d;
  border-top: 10px solid #046A38;
  background: #FAF9F9;;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}  

/*End container main menu*/
/*Container buttons section main menu */
.container_buttons_links_main_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_main_menu a:hover {
  color: #046A38;
}
/*End container buttons section main menu*/

@media (max-width:768px) { 
  .header_carbon_app {
    flex-direction: column;
  } 
  
  .carbon_app_new_entry_main {
    flex-direction: column;
  } 
  .new_entry .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
    overflow-x: auto;
  }
  .table_main .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .table-respons {
    overflow-x: auto;
  }
  .box {
    display: block;
  }
  .two_emissions_graphs .container {
    display: flex;
    flex-direction: column;
}
.two_emissions_graphs .container .box {
    width: 100%;
}
}

