/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
*/

/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  line-height: 1.6;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}
a {
  color: #333;
  text-decoration: none;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}
/* Navbar  */
.section_carbon_app_navbar {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(67,176,42,1) 100%, rgba(255,255,255,1) 100%);
}
.carbon_app_navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 81%, rgba(67,176,42,1) 100%);
  padding: 0 0px;
}
.carbon_app_navbar a {
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.7s ease-out 100ms;
  animation: showup 10s;
}
.carbon_app_navbar a:hover{
  color: #046A38;
}
.carbon_app_navbar ul {
  display: flex;
  flex-direction: row;
}

.carbon_app_navbar .logo {
  font-weight: 400;
}
.text-logo {
  color: #568c63;
}
/* Footer  */
.section_footer{
  background-color: white;
  display: flex;
}

.footer h1 {
  color: white;
  font-size: x-large;
  padding: 100px;
}
.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 300px;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(67,176,42,1) 100%);
  padding: 0 0px;
  border-radius: 25px;
  width: 98%;
  margin: 0 auto;
  opacity: 80%;
}


/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
  }
  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }
  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }
  .carbon_app_navbar a:hover{
    color: #568c63;
    border-bottom: #2a4359 2px solid;
  }
}


@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}

@keyframes light {
  0% {
      color: hsl(230, 40%, 80%)
  }
  30% {
      color: hsl(230, 80%, 90%)
  }
  60% {
      color: hsl(230, 100%, 95%)
  }
  100% {
      color: hsl(230, 40%, 80%)

  }
}