/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
ol {
  font-size: 18px;
}
/* Section header */
.section_header_methodology {
  background-color:lightgray;
}
.header {
  display: flex;  
  align-items: start;
  background: lightgray;
}
.header .box {
  flex-grow:1;
  border: 1px solid #808080;
  border-top: 10px solid #046A38;
  background: #FAF9F9;
  border-radius: 0px;
  margin: 0px 0px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.header .box:nth-of-type(1) {
  flex-grow:2;
}
.header .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_header a:hover {
  color: #43B02A;
}
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #43B02A;
  color: black;
  display: flex;
  justify-content:center;
  align-items:center;
}
/* Section methodology */
.section_body_methodology {
  background-color:lightgray;
}
.methodology {
  display: flex;  
  align-items: start;
  background: lightgray;
}
/* Table with one column */
.methodology .box_table1 {
  flex-grow:1;
  border: 1px solid #808080;
  border-top: 10px solid #046A38;
  background: #FAF9F9;
  border-radius: 0px;
  margin: 0px 0px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.methodology .box_table1:nth-of-type(1) {
  flex-grow:1;
  background: lightgray;
}
.methodology .box_table1:nth-of-type(2) {
  flex-grow:4;
}
.methodology .box_table1:nth-of-type(3) {
  flex-grow:1;
  background: lightgray;
}
/* Table with two columns */
.methodology .box_table2 {
  flex: 1;
  border: 1px solid #808080;
  border-top: 10px solid #046A38;
  background: #FAF9F9;
  border-radius: 0px;
  margin: 0px 5px; /* add 5px margin on the left and right */
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.methodology .box_table2:nth-of-type(1) {
  flex-grow:1;
  background: #FAF9F9;
}
.methodology .box_table2:nth-of-type(2) {
  flex-grow:1;
  background: #FAF9F9;
}


@media (max-width:768px) { 
  .header {
    flex-direction: column;
  } 
  .methodology {
    flex-direction: column;
  } 
}
