.box_user {
  flex-grow:1;
  border: 1px solid #8d8d8d;
  border-top: 10px solid #046A38;
  background: #FAF9F9;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 0px 20px;
  text-align:center;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}