{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3 style="font-size:55px;text-align: left"><a href=“http://carbonappgruppe3-env.eba-fmajtzhb.eu-west-2.elasticbeanstalk.com/purpose”>Our purpose</a></h3>
        <p style="text-align:left;">
          How does the temperature on earth evolve? How will we contribute to change? How can you contribute?        
      </div>
      <br>
      <br>
      <br>
      <div class="box">
        <img 
          src="{{url_for('static', filename='icons/carbon_app.svg')}}"
          width="500" 
          height="300"
          style="fill: white;"
          alt=""/>
      </div>
    </div>

  </div>
</section> 

<!-- Links -->
<section class="section_links">
  <div class="container">

    <div class="links" style="display:block;">

        
    </div>


    <div class="links">
        <div class="box">
          <h3>Carbon App</h3>
          <p> Our carbon app uses data from our users to calculate individual carbon emissions in addition to calculting emissions for our enire user base. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="{{url_for('carbon_app.new_entry')}}"  target="_blank">Calculate your carbon emmision </a>
          </div> 
        </div>


        <div class="box">
          <h3>Methodology</h3>
          <p> The app that we developed are focusing on carbon dioxide which is the primary greenhouse gas emitted through human activities, making up about 79% of our total emissions. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="{{url_for('methodology.methodology_home')}}"  target="_blank">Read more about our methodology</a>
          </div> 
        </div>


        
      </div>

    <div class="links">
              
      <div class="box">
        <h3>Our team</h3>
        <p> Our team of developers and economists is working hard on developing and improving our economic model, the carbon app and the website. 
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="{{url_for('developers.developers_home')}}"  target="_blank">Get to know the developers </a>
        </div> 
      </div>



        <div class="box">
          <h3></h3>
          <p> 
          </p>
          
          </div> 
        </div>

    
  </div>

  </div>          
</section>

<!-- Picture -->
<section class="section_pics">
  <div class="container">
        
{% endblock content %}
