{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 style="font-size:55px;"><span class="text-logo">Home</span></h1>
        <p style="text-align:left;">
          Our carbon app uses data from our users to calculate individual carbon emissions in addition to calculting emissions for our enire user base. 
          <br>
          <br>
          To start using the app please log in by pressing the button below. If you do not already have an account you will need sign up first.    
        </p>
        <div class="container_buttons_links_header_home">
          <div class="btn">
              <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#86BC25; border-color:#fff;">Register</a>
          </div>
          <div class="btn">
              <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#86BC25; border-color: #fff;">Login</a>
          </div>
        </div>  
      </div>
      <div class="box">
        <img 
          src="{{url_for('static', filename='icons/carbon_app.svg')}}"
          width="325" 
          height="325"
          alt=""/>
      </div>
    </div>

  </div>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        Our team of developers and economists is working hard on developing and improving our economic model, the carbon app and the website. Get to know them better below. 
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="/static/jonas.png" alt="" style="border-radius: 50%; width:200px; height:200px; object-fit:cover">
          <h3>Jonas Harald Stockkamp</h3>
          <p> Jonas is a second year student at NHH. He is 20 years old and origianlly based in Bodø. Currently he leads NHHI Tennis Open, writes for the newspaper K7 Bulletin and works as a research assistand at NHH.
            <br>
            <br>
            <br>
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>
        <div class="box">
          <img src="/static/martin.jpeg" alt="" style="border-radius: 50%; width: 200px; height: 200px; object-fit:cover">
          <h3>Martin Jåvold Akselsen</h3>
          <p>Martin is a student on his third year at NHH. He is 23 years old, and comes from Kristiansand. He is currently a member of the group NHHS Consulting, and works at a small company called Really.
            <br>
            <br>
            <br> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>           
        <div class="box">
          <img src="/static/Øystein4.png" alt="" style="border-radius: 50%; width: 200px; height: 200px; object-fit:cover">
          <h3>Øystein Breivik</h3>
          <p>Øystein is 20 years old and currently based in Bergen where he is completing his undergraduate business studies at the Norwegian School of Economics. In addition to this Øystein is an avid swimmer and currently competes for Bergen Swimming Club.</p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>    
    </div>

    <div class="developers">
      <div class="box2">
        <img src="/static/hanne.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px; object-fit:cover">
        <h3>Hanne Abrahamsen Jensen</h3>
        <p>  
          Hanne Abrahamsen Jensen is 23 years old and comes from Askøy. She studies at the Norwegian School of Economics, where where she is in her second year. In addition to her studies she is works as a crossfunctional coworker at IKEA Åasane and is a member of NHHI Dødssøtt. 
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>
      <div class="box2">
        <img src="/static/OleE.png" alt="" style="border-radius: 50%; width: 200px; height: 200px; object-fit:cover">
        <h3>Ole Eiane</h3>
        <p> Ole is 22 years old and comes from Stavanger. He is in his third year of undergraduate studies at the Norwegian School of Economics. In addition to this he has started a bachelors degree in computer techonology at The University of Bergen. Outside school he plays for one of NHHI's football teams called Hvilepuls FC. In general, he enjoys being active and plays all sorts of sports such as football, padel, golf and tennis.</p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>           
      <div class="box2">
        <img src="/static/elias.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px; object-fit:cover">
        <h3>Elias Limayem</h3>
        <p>
          Elias is 20 years old and from Asker. He is currently enrolled in the third year of his undergraduate studies at the Norwegian School of Economics. In addition to his studies he is a member of AIESEC NHH, the international comitte and NHHI Kubb. Outside school he also enjoys watching football, food and going out with friends. 
          <br>
          <br>
          <br>
          <br>
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>       
  </div>

  </div>          
</section>
        
{% endblock content %}
